*{box-sizing: border-box;}

html,body{
  width:100%;height:100%;margin:0;
  font-family:sans-serif;
}

#main{
  height:100%;
  background:#333;
  position: relative;
}

.external{  
  float:left;
  height:100%;  
  border:2px solid #333 ;
  padding: 50px;
  transition: all 300ms linear;

 
}

#main #left{
  width:30%;
  background-color: #D6E8EE;
  position:relative;
}

#main #right{
  width:calc(100% - 30%);
  background-color: white;
  position: relative;
}

#cy {
  width: 60%;
  height: 100%;
  position: fixed;
  
}

.container {
  justify-content: space-between;
  flex-direction: column;
  height: 100vh;
  display: flex;
}
.container .btn-holder {
  justify-content: flex-end;
  display: flex;
}

.container .dataHuffman{
  justify-content: flex-start;
  
}

/* RWD */
@media screen and (max-width: 700px) {
  
  #main div{
    width:100% !important;
    height:50% !important;
    border:2px solid #333;
  }


}

